<% @title = "#{@service.name}: Product Inventory" %>
<div class="page_name">
  <%= @service.name %>
</div>
<div class="page_desc">
  "<%= @service.desc %>"
</div>
<table>  
  <% i = 1 %>
  <% @products.each do |prod| %>
    <tr>
      <th width="200px">
        <%= link_to(image_tag(prod.img.url(:small)), service_product_path(@service, prod)) || "" %>
      </th>
      <td>
        <div id="prod_title">
          <%= i %>.
          <% i = i+1 %>
          <%= link_to(prod.name, service_product_path(@service, prod)) %>
          <div class="right">
            <% if current_user %>
              <%= link_to(image_tag("icons/page_edit.png"), edit_service_product_path(@service, prod)) %>
              <%= link_to(image_tag("icons/heart_delete.png"), service_product_path(@service, prod), :method => :delete, :confirm => "Are you sure you want to permanently delete the #{prod.name}?") %>
            <% else %>
            <% end %>
          </div>
        </div>
        <div id="prod_desc">
          <%= prod.desc %>
        </div>
        <div id="prod_update">
          last updated: <%= time_ago_in_words prod.created_at %> ago
        </div
      </td>
    </tr>
  <% end %>
</table>
<div id="prod_func">
  <% if current_user %>
    <%= link_to(image_tag("icons/heart_add.png"), new_service_product_path(@service) ) %> Create
  <% else %>
  <% end %>
</div>