<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= $site_name %>
    </title>
    <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
    <!--[if IE 6]><%= stylesheet_link_tag 'formtastic_ie6' %><![endif]-->
    <!--[if IE 7]><%= stylesheet_link_tag 'formtastic_ie7' %><![endif]-->
    <%= stylesheet_link_tag "layout" %>
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "show" %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
  </head>
  
  <body>
    <div id="page_holder">
      <div id="top_shadow">
      </div><!-- top_shadow -->
      <div id="page">
        <div id="page_wrapper">
           <div id="container_shadow">
             <div id="container">
               <div id="header">
                 <h1 class="serif">
                   <%= $site_name %>
                 </h1>       
               </div><!-- header -->
        
               <div class="spacer">
               </div><!-- spacer -->
        
               <div id="page_title" class="serif">
                 <h2>
                   <%= @title %>
                 </h2>
               </div><!-- page_title -->
        
               <div class="spacer">
               </div><!-- spacer -->
        
               <div id="breadcrumbs">          
                 <div class="left">
                   <%= render :partial => "#{controller.controller_name}/breadcrumb" %>
                 </div><!-- left -->      
                 <div class="right">
                 </div><!-- right -->        
               </div><!-- breadcrumbs-->
        
               <div class="spacer">
                 </div>
               <% if flash[:notice] %>
                 <div class="notice">
                   <%= flash[:notice] %>
                 </div><!-- notice -->
               <% end %>
               <div id="content">
                 <%= yield %>
               </div><!-- content-->
        
               <div class="spacer">
               </div><!-- spacer -->
        
               <div id="footer">
                 <%= $site_copyright %>  
               </div><!-- footer--> 
             </div><!-- container -->
           </div><!-- container_shadow -->
        </div><!-- page_wrapper -->
      </div><!-- page -->
      <div id="bottom_shadow">
      </div><!-- bottom_shadow -->
    </div><!-- page_holder -->
  </body>
  
</html>
